
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.container h1 {
  font-family: Tahoma, Geneva, sans-serif;
}

.container .info {
  display: flex;
  font-size: 90%;
  width: 100%;
  justify-content: flex-end;
}

.container .info h1 {
  margin-right: 5%;
}

.container .game {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 100%;
}

.container .small {
  padding-top: 8%;
  margin-top: 15%;
}

.game .grid-container {
  box-sizing: border-box;
  border: 1px solid black;
  margin-bottom: 2%;
}

.game .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.game .dead-cell {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.game .live-cell {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background: white;
}

.controls {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 3%;
}

.options {
  background: rgba(0, 0, 0, .6);
  border: 3px white solid;
  margin: auto;
  margin-top: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
}

.options .closeButton {
  align-self: flex-end;
  font-size: 1.4rem;
}

.options h1 {
  margin-bottom: 10%; 
}

.options .option-settings {
  display: flex;
  justify-content: space-evenly;
}

.options .option-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.4em;
}

.options .option-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 1%;
}

.options button {
  background: rgba(0, 0, 0, 0);
  color: #fff;
  font-family: Sans-serif;
  font-size: 1.8em;
  height: 3%;
  width: 150px;
  line-height: 50px;
  margin: 25px 25px;
  text-align: center;
  border: 1px white solid;
  transition: all 0.3s ease 0s;
}

.size-options button.selected {
  background: rgba(0, 0, 0, .8);
  color: white;
}

.option-controls .dropdowns {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
}

.option-controls select {
  width: 50%;
  height: 40px;
  color: white;
  position: relative;
  margin-bottom: 4%;
  margin-left: 30px;
  background: transparent;
  border: 1px white solid;
  font-family: Sans-serif;
  font-size: 1.8em;
  width: 150px;
  line-height: 50px;
  margin: 25px 25px;
}

.option-controls select option {
  background: rgba(0, 0, 0, 1);
}

.rules {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, .6);
  border: 3px white solid;
  padding: 3%;
  font-size: 1.4rem;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 5%;
}

.rules .closeButton {
  align-self: flex-end;
}

.about {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, .6);
  border: 3px white solid;
  padding: 3%;
  font-size: 1.4rem;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;
}

.about .closeButton {
  align-self: flex-end;
}

@media (max-width: 1024px) { 
  .about {
    width: 70%;
  }
  
  .rules {
    width: 70%;
  }
 }

 @media (max-width: 600px) { 
  .options {
    width: 100%;
    margin-left: -5%;
  }

  .options button {
    font-size: 1.8em;
    height: 3%;
    width: 31%;
  }

  .about {
    width: 85%;
  }

  .rules {
    width: 85%;
  }
 }