
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.container h1 {
  font-family: Tahoma, Geneva, sans-serif;
}

.container .info {
  display: flex;
  font-size: 90%;
  width: 100%;
  justify-content: flex-end;
}

.container .info h1 {
  margin-right: 5%;
  cursor: pointer;
}

.container .game {
  display: flex;
  background: rgba(0, 0, 0, .6);
  flex-direction: column;
  align-items: center;
  color: white;
  height: 100%;
  border: 2px white solid;
  width: 800px;
  margin-bottom: 5%;

}

.container .small {
  padding-top: 8%;
}

.game .grid-container {
  box-sizing: border-box;
  border: 1px solid black;
  margin-bottom: 2%;
}

.game .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.game .dead-cell {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.game .live-cell {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background: white;
}

.generation-count {
  font-size: 1.5rem;
  font-weight: normal;
}

.controls {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 3%;
}

.options {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
}

.options h1 {
  margin-bottom: 10%;
}

.options .option-settings {
  display: flex;
  justify-content: space-evenly;
}

.options .option-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 22px;
}

.options .option-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 1%;
}

.options .option-controls .top-options {
  display: flex;
}

.options .option-controls .size-options {
  display: flex;
  align-items: center;
}

.options .option-controls .size-options p {
  font-size: 22px;
}

.options .option-controls .size-options button {
  cursor: pointer;
}

.options button {
  background: rgba(0, 0, 0, 0);
  color: #fff;
  font-family: Sans-serif;
  font-size: 1.4em;
  height: 50px;
  width: 100px;
  line-height: 50px;
  margin: 25px 25px;
  text-align: center;
  border: 1px white solid;
  transition: all 0.3s ease 0s;
}

.size-options button.selected {
  background: rgba(0, 0, 0, .8);
  color: white;
}

.option-controls {
  display: flex;
  flex-direction: column;
}

.option-controls .pattern-options {
  display: flex;
  align-items: center;
  width: 100%;
}

.option-controls .pattern-options p {
  font-size: 22px;
}

.options .option-controls .bottom-options {
  display: flex;
  align-items: center;
}

.options .option-controls .bottom-options p {
  font-size: 22px;
}

.option-controls select {
  width: 50%;
  height: 40px;
  color: white;
  position: relative;
  margin-bottom: 4%;
  background: transparent;
  font-family: Sans-serif;
  font-size: 1.4em;
  width: 150px;
  line-height: 50px;
  margin: 25px 25px;
}

.option-controls select option {
  background: rgba(0, 0, 0, 1);
}

.rules {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, .6);
  border: 3px white solid;
  padding: 3%;
  font-size: 1.4rem;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 20%;
}

.rules .closeButton {
  align-self: flex-end;
}

.about {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, .6);
  border: 3px white solid;
  padding: 3%;
  font-size: 1.4rem;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 20%;
  width: 50%;
}

.about .closeButton {
  align-self: flex-end;
}

@media (max-width: 1024px) {
  .about {
    width: 70%;
  }

  .rules {
    width: 70%;
  }
 }

 @media (max-width: 600px) {
  .options {
    width: 100%;
    margin-left: -5%;
  }

  .options button {
    font-size: 1.8em;
    height: 3%;
    width: 31%;
  }

  .about {
    width: 85%;
  }

  .rules {
    width: 85%;
  }
 }
